body {
    font-family: 'Arial', sans serif;
    background: #f3f4f6;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.calculator{
    background: #fff;
    padding: 20px;
    border-radius: 15 px;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.1);
    width: 300px;
}

.display{
    margin-bottom: 20px;
}

.display input {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #f3f3f3;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.btn {
    font-size: 1.2rem;
    padding: 15px;
    border: none;
    border-radius: 10px
    background: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btn:hover {
    background: #45a049;
}

.btn:nth-child(4n){
    background: #ff5722;
}

.btn:nth-child(4n):hover{
    background: #e64a19;
}

.history{
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.1);
    width: 200px;
    height: auto;
    overflow-y: auto;
}

.history h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
    text-align: center;
    color: #333;
}

.history u1 {
    list-style: none;
    padding: 0;
    margin: 0,
}

.history li{
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.history li:last-child {
    border-bottom: none;
}